<div class="container">
  <div class="row">
    <div class="col s3">
      <ul class="">
        <li>
          <div class="fixed-action-btn" style="bottom: 16px; right: 16px;">
            <%= link_to new_user_message_path(current_user_id), class:'btn-floating btn-large red modal-trigger', remote:true do %>
            <i class="large material-icons">mode_edit</i>
            <% end %>
          </div>
        </li>
        <li><%= link_to 'Add Friends', user_friends_path %></li>
        <li><%= link_to 'Sent Messages', sent_user_messages_path %></li>
      </ul>

    </div>
    <div class="col s9">
      <div class="row">
        <ul id="messages" class="collapsible popout" data-collapsible="accordion">
          <%= render partial: 'messages', object: @messages %>
        </ul>
        <p class="pagination">
          <%= link_to_next_page(@messages, 'Next Page', :remote => true) %>
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal modal-fixed-footer">
  <%= form_for Message.new, url: user_messages_path, method: :post, remote:true do |f| %>
    <div class="modal-content">
      <h4>New Message</h4>
      <div class="row">
        <div class='col s12'>
          <div class="row">
            <div class="input-field col s12">
              <%= f.text_field :emails_string, id:'emails',  'data-role': 'materialtags' %>
              <label for="textarea1">Recipients</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <%= f.text_area :content, class:'materialize-textarea'%>
              <label for="textarea1">Message</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <%= f.submit 'Send', class:'btn'%>
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cancel</a>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  localStorage.removeItem('lastReadMsg');
</script>
