<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>
    Parallax Template - Materialize
    </title>
    <!-- CSS -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' =>
    true %>
    <%= csrf_meta_tags %>
  </head>
  <body class="guest">
    <nav class="white" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo">
          Ken's Chat
        </a>
        <ul class="right hide-on-med-and-down">
          <li>
            <%= link_to 'Login', new_session_path %>
          </li>
        </ul>
        <ul id="nav-mobile" class="side-nav">
          <li>
            <a href="#">
              Navbar Link
            </a>
          </li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse">
          <i class="material-icons">
          menu
          </i>
        </a>
      </div>
    </nav>
    <div class="main">
      <%= yield %>
    </div>
    <footer class="page-footer teal">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">
            Ken Hoang
            </h5>
            <p class="grey-text text-lighten-4">
              I'm a lecturer in the University of Science, a researcher in Watermarking and Fingerprinting, and a freelance full-stack web developer. Ruby on Rails, NodeJs, AngularJs, ASP.NET, Database Analysis are my favorites technologies. Happy to see you.
            </p>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">
            Connect
            </h5>
            <ul>
              <li>
                <%= link_to 'Login', new_session_path, class:'white-text' %>
              </li>
              <li>
                <%= link_to 'Register', new_user_path, class:'white-text' %>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          Made by
          <a class="brown-text text-lighten-3" href="http://materializecss.com">
            Materialize
          </a>
        </div>
      </div>
    </footer>
    <!-- Scripts -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track' =>
    true %>
  </body>
</html>
